<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Cards</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/cardgen.js" defer></script>
</head>
<body>
    <div id="cardroll-cards"></div>
    <input type="text" id="card-roll-num" placeholder="Input card number:">
    <button onclick="submitForm()" id="roll-button" class="hidden">Roll</button>
</body>
</html>